<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLCuaHangSachConnectionString"
            connectionString="Data Source=CHAUCUTEVL\CHAUDZHOST;Initial Catalog=QLCuaHangSach;User ID=chaudz;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLCuaHangSachConnectionString1"
            connectionString="Data Source=CHAUCUTEVL\CHAUDZHOST;Initial Catalog=QLCuaHangSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>